.dialogItems {
    display: grid;
    padding: 10px;
    color: #888da8;
    grid-template-columns: 2fr 2fr;
    grid-template-areas:
  "a m";
}

.avatar {
    grid-area: a;
}

.message {
    grid-area: m;
}

.dialogsItems .active {
    color: #fe5e39;
}

.dialogItems img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    overflow: hidden;
    margin-right: 12px;
}