.header {
  display: grid;
  grid-template-columns: 70px 1fr 70px;
  grid-template-rows: 1fr ;
  grid-area: h;
  grid-template-areas:
  "hI hIn hl";
  margin-left: 7px;

}

.header img {
  width: 40px;
}

.headerInImg {
  grid-area: hI;
  background-color: #fe5e39;

}

.headerInInput {
  grid-area: hIn;
  background-color: #3f4257;
}

.headerLogin {
  grid-area: hl;
background-color: #3f4257;
}